body {
    background: #ddd url(../img/bg.png);
    padding-top: 120px;
}

h1 {
    color: #f73b3b;
}

p {
    font-size: 16px;
    line-height: 25px;
    margin-top: 1.5em;
}

#logo {
    background-image:url('../img/me.png');
    background-size: cover;
    border-radius: 80px;
    -moz-border-radius: 80px;
    -webkit-border-radius: 80px;
    height: 160px;
    line-height: 160px;
    margin: 0 auto;
    text-align: center;
    width: 160px;
}

input.input-large {
    padding: 9px 14px;
}

div.gradient {
    background: url(../img/gradient.png) no-repeat top center;
    min-height: 770px;
}

div.content {
    text-align: center;
    margin-top: 1.5em;
}